@import "globals";

#bride3 {
	width: 630px;
	height: 1200px;
	background-image: url("../img/bride3.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 20px;
}

#servicosDescriptionContainer {
	display: inline-block;
	width: 40vw;
	height: 25vw;
	position: absolute;
	top: 50px;
	right: 150px;
	z-index: 3;
}

#servicosThumbnail {
	display: inline-block;
	width: 40vw;
	height: 25vw;
	overflow: hidden; 
	box-shadow: $boxShadow;
}


.servicosThumbnailFrame {
	display: inline-block;
	width: 40vw;
	height: 25vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

#servicosThumbnailPreviousFrame {
	transform: translate(-40vw, 0);
}

#servicosThumbnailCurrentFrame {
	background-image: url("../img/servicos/img1.jpg")
}

#servicosThumbnailNextFrame {
	transform: translate(40vw, 0);
}

#servicosButtonContainer {
	height: 50px;
}

#servicosLeftButton {
	background-image: url("../img/carouselLeftButton.svg");
}

#servicosRightButton {
	background-image: url("../img/carouselRightButton.svg");
}

#servicosLeftButton, #servicosRightButton {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	float: right;
	cursor: pointer;
}

#servicosTextContainer {
	background-color: $textAreaColor;
	height: 250px;
	overflow-y: scroll;
	padding: 20px 50px;
}

#servicosText p {
	font-family: Roboto;
	color: $altTextColor;
	font-style: italic;
	font-weight: 300;
	text-indent: 30px;
	margin-bottom: 5px;
	text-align: justify;
}