@import "globals";



@font-face {
	font-family: SUNN;
	src: url("../fonts/SUNN.otf");
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//font-family: Amatic SC;
	font-family: SUNN;
	position: relative;
	letter-spacing: 1.5px;
}

html {
	overflow-x: hidden;
}

body {
	background-color: $bodyColor;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h2 {
	font-size: $baseFontSize;
	position: absolute;
	left: 173px;
	top: -90px;
}

.overfill {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom right, rgba(255,255,255,0), rgba(255,255,255, 0.45));
	z-index: 2;
}

.clearFloat {
	clear:both;
}

